<template>
  <div id="counter">
    <v-btn>{{getCount}}</v-btn>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import store from '@/store'

export default Vue.extend({
  name: 'Counter',
  computed: {
    getCount () {
      return store.getters.count
    }
  }
})
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#randomiser{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  text-align: center;
  border: 2px solid olivedrab;
  border-radius: 14px;
}
</style>
