<template>
  <div id="randomiser">
    <p v-for="word in words" :key=word.index>{{word}}</p>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  name: 'Randomiser',
  data: () => ({
    words: [
        'hello',
        'goodbye',
        'eugene',
        'television',
        'Cyril'
    ],
  }),
})
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#randomiser{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  text-align: center;
  border: 2px solid olivedrab;
  border-radius: 14px;
}
</style>
