<template>
  <div id="utilities">

    <v-row>
      <v-col>
        <v-btn
          @click="myStartButton"
        >{{isActive ? 'STOP' : 'START'}}</v-btn>
      </v-col>
    </v-row>

    <v-row>
      <v-col>
        <v-form>
          <v-text-field
              v-model="textInput"
              label="Input URL"
              class="mb-4"
          ></v-text-field>
          <p>{{textInput ? textInput : '' }}</p>
        </v-form>
      </v-col>
    </v-row>

    <v-row>
      <v-col>
        youtube iframe here
      </v-col>
    </v-row>

    <v-row>
      <v-col>
        <h4>Categories</h4>
        <v-form>
          <v-checkbox
            v-for="category in categories"
            :key="category.id"
            :label="category.name"
            hide-details
          ></v-checkbox>
        </v-form>
      </v-col>
    </v-row>

  </div>
</template>

<script lang="ts">
import Vue from 'vue'


export default Vue.extend({
  name: 'Utilities',
  data: () => ({
    categories: [
      {id: 1, name: 'sports'},
      {id: 2, name: 'music'},
      {id: 3, name: 'cars'}
    ],
    textInput: '',
    isActive: false
  }),
  methods: {
    myStartButton: function() {
      this.isActive = !this.isActive;
    }
  }
})
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.v-input{
  margin-top: 0;
}
</style>
