<template>
  <v-app>
    <v-main>
      <v-container>
        <v-row>

          <!-- START: Randomiser -->
          <v-col>
            <Randomiser />
          </v-col>
          <!-- END: Randomiser -->

          <!-- START: Utilities -->
          <v-col>
            <Utilities />
          </v-col>
          <!-- END: Utilities -->

        </v-row>

        <!-- START: Counter -->
        <v-row>
          <v-col>
            <Counter />
          </v-col>
        </v-row>
        <!-- END: Counter -->

      </v-container>
    </v-main>
  </v-app>
</template>

<script>
import Vue from 'vue'
import Randomiser from './components/Randomiser'
import Utilities from './components/Utilities'
import Counter from './components/Counter'


export default Vue.extend({
  name: 'App',
  components: {
    Randomiser,
    Utilities,
    Counter
  },

  data: () => ({
    //
  }),
});
</script>
